global: 
  pattern: amdllm

  amdllm:
    namespace: amd-llm
    build_envs: [] # http_proxy/https_prxy can be set here
    runtime_envs: []
    
    embedding:  
      # TODO(SG): Provide image for AMD (if needed)
      image: quay.io/sgahlot/opea/embedding:latest
      # TODO(SG): Provide git reference for AMD (if needed)
      # git_ref: 8ebe2bf # make sure to validate buildconfig & other change scope before updating
